body {
    background: rgb(30, 30, 30);
    width: 310px;
    height: 310px;
    margin: 0px;
}


.screen {
    width: 300px;
    height: 300px;
    border: solid 1px black;
    margin: 5px;
}
#anon {
    display: none;
    text-align: center;
    font-size: 18px;
    background: #CCCCCC;
}
#login {
    display: none;
    z-index: 10;
    text-align: center;
    font-size: 16px;
    background: white;
}
#register {
    display: none;
    z-index: 10;
    text-align: center;
    font-size: 16px;
    background: white;
}
#main {
    display: block;
    width: 300px;
    height: 300px;
    border: solid 1px black;
    margin: 5px;
    float: right;
    font-size: 18px;
    background: white;
}



button {
    background-color: #f2f2f2;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}
button:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}
button:focus {
    border-color: #4285f4;
    outline: none;
}

#contacts {
    width: 60px;
    height: 270px;
    float: left;
    border: solid 1px black;
    margin: 10px 2px 2px 10px;

    text-align: center;
    font-size: 11px;
}
#chat {
    width: 205px;
    height: 270px;
    float: right;
    border: solid 1px black;
    margin: 10px 10px 2px 2px;
}

div#contacts-list {
    text-align: center;
    height: 204px;
    overflow: hidden;
    overflow-y: scroll;
    border-bottom: #CCCCCC 3px solid;
}
div.contact {
    display: block;
    margin: 10%;
    padding: 0px;
    width: 80%;
    height: 30px;
    border: solid 0.5px black;
    text-align: center; 
}
div.contact:hover {cursor: pointer;}
div#contact-name {
    border-bottom: 0.5px solid black;
    margin: 0px;
    text-align: center;
}

div#new-contact {
    border: #BBBBBB 1px solid;
    background: #FAFAFA;
    border-radius: 4px;
    width: 50px;
    margin: 4px;
}
div#new-contact:hover {
    box-shadow: rgba(0, 0, 0, .1) 0 2px 2px;
    cursor: pointer;
}

div#messages {
    padding: 5px 3px;
    height: 192px;
    overflow: hidden;
    overflow-y: scroll;
}

div#new-message {
    padding: 7px 3px;
    border-top: solid 0.5px black;
}

div.message-wrapper {
    padding: 7px 3px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-self: flex-end;
}
div.message {
    display: inline-flex;
}
div.right {
    flex-direction: row-reverse;
}
p.message {
    max-width: 140px;
    min-height: 20px;
    padding: 1px 5px;
    border-radius: 2px;
    border: solid black 0.5px;
    margin: 0px;
    font-size: 14px;
}
p.left {
    align-self: flex-start;
    border-left: solid 4px #979797;
}
div.message-wrapper:hover p.left {
    border-left: solid 4px #6F6F6F;
}
p.right {
    align-self: flex-end;
    border-right: solid 4px #979797;
}
div.message-wrapper:hover p.right {
    border-right: solid 4px #6F6F6F;
}

span.time {
    visibility: hidden;
    color: rgb(75, 75, 75);
    font-size: 9px;
}
div.message-wrapper:hover span.time {
    visibility: visible;
}
span.left {
    padding: 2px 0px 0px 4px;
    text-align: left;
}
span.right {
    padding: 2px 4px 0px 0px;
    text-align: right;
}

textarea {
    resize: none;
    height: 15.6px;
    vertical-align: middle;
    font-family:"Times New Roman", Times, serif;
}

label {
    position: relative;
    left: -55px;
    font-size: 13px;
}

.error {
    background: #ffcccb;
    color: #ff1d18;
    padding: 5px;
}

span#login-username-error { display: none; }
span#login-password-error { display: none; }
span#register-username-error { display: none; }


::-webkit-scrollbar { width: 7px;}
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; }
::-webkit-scrollbar-thumb:hover { background: #555; }